{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ title }} - Пiсьменнiкi Беларусi</title>
{% endblock %}

{% block content %}
<h1>Уваход у акаўнт</h1>
<section>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row gtr-uniform">
            <div class="col-12 col-12-xsmall">
                <input type="text" name="username" value="" placeholder="Логiн" />
            </div>
            <div class="col-12 col-12-xsmall">
                <input type="password" name="password" class="passwordInput" value="" placeholder="Пароль" />
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Увайсці" /></li>
                    <li>
                        <div class="col-6 col-12-small">
                            <input type="checkbox" id="passwordInputCheckbox">
                            <label for="passwordInputCheckbox">Паказаць пароль</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block about %}
<section class="blurb">
    <h2>Аб сайце</h2>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
    <ul class="actions">
        <li><a href="{% url 'about' %}" class="button">Learn More</a></li>
    </ul>
</section>
{% endblock %}

{% block import %}
    <script src="{% static 'scripts/show_password.js' %}"></script>
{% endblock %}