{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ title }} - Пiсьменнiкi Беларусi</title>
{% endblock %}

{% block content %}
<h1>Імя карыстальніка: {{ profile.user.get_username }}</h1>
{% if profile.user.first_name %}
<h3>Імя: {{ profile.user.first_name }}</h3>
{% endif %}
{% if profile.user.last_name %}
<h3>Прозвішча: {{ profile.user.last_name }}</h3>
{% endif %}
{% if profile.user.email %}
<h3>Email: {{ profile.user.email }}</h3>
{% endif %}
<a href="{% url 'logout' %}" class="button small">Змяніць акаўнт</a>
{% endblock %}

{% block about %}
<section class="blurb">
    <h2>Аб сайце</h2>
    <p>Апісанне інфармацыі аб сайце. Навошта ён быў створаны, кім і калі.</p>
    <ul class="actions">
        <li><a href="{% url 'about' %}" class="button">Адкрыць</a></li>
    </ul>
</section>
{% endblock %}

{% block import %}
    <script src="{% static 'scripts/show_password.js' %}"></script>
{% endblock %}