{% extends 'base.html' %}
{% load static %}
{% load literature_tags %}

{% block title %}
<title>{{ title }} - Пiсьменнiкi Беларусi</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/content.css' %}">
{% endblock %}

{% block content %}
    <h1 class="content-title"><i class="fa fa-users"></i>Работы</h1>

    <div id="contents">
        {% include 'inc/works.html' %}
    </div>
{% endblock %}

{% block sidebar %}

<div class="col-12">
    <h3>Пошук</h3>
    <input type="text" name="q" placeholder="Пачніце набіраць..." hx-get="{% url 'get_works' %}" hx-target="#contents" hx-trigger="keyup delay:150ms changed" hx-include="[name='with_photo'], [name='category']">
    <br>
    <h3>Сартаванне</h3>
    <select name="category" hx-get="{% url 'get_works' %}" hx-target="#contents" hx-trigger="change" hx-include="[name='q'], [name='with_photo']">
        <optgroup label="Па назве">
            <option value="0">Назва А-Я</option>
            <option value="1">Назва Я-А</option>
        </optgroup>
    </select>
</div>

<div class="col-6" style="margin-top: 1rem;">
    <h3>Фільтры</h3>
    <input type="checkbox" id="with_photo" name="with_photo" hx-get="{% url 'get_works' %}" hx-target="#contents" hx-trigger="change" hx-include="[name='q'], [name='category']">
    <label for="with_photo">З фота</label>
</div>

{% mini_posts True 1 %}
{% endblock %}

{% block import %}
{% endblock %}