<ul class="actions pagination">
    {% if items.has_previous %}
        <li><button class="button large previous" hx-get="{% url 'get_genres' %}?pag=prev&page={{items.number}}" hx-target="#contents" hx-trigger="click" hx-include="[name='q'], [name='category'], [name='with_photo']">Папярэдняя</button></li>
    {% else %}
        <li><button class="disabled button large previous" disabled="true">Папярэдняя</button></li>
    {% endif %}
    {% for n in items.paginator.page_range %}
        {% if items.number == n %}
            <li><button class="button large active" hx-get="{% url 'get_genres' %}?pag=set&page={{n}}" hx-target="#contents" hx-trigger="click" hx-include="[name='q'], [name='category'], [name='with_photo']">{{ n }}</button></li>
        {% elif n > items.number|add:-4 and n < items.number|add:4 %}
            <li><button class="button large" hx-get="{% url 'get_genres' %}?pag=set&page={{n}}" hx-target="#contents" hx-trigger="click" hx-include="[name='q'], [name='category'], [name='with_photo']">{{ n }}</button></li>
        {% endif %}
    {% endfor %}
    {% if items.has_next %}
        <li><button class="button large next" hx-get="{% url 'get_genres' %}?pag=next&page={{items.number}}" hx-target="#contents" hx-trigger="click" hx-include="[name='q'], [name='category'], [name='with_photo']">Наступная</button></li>
    {% else %}
        <li><button class="disabled button large next" disabled="true">Наступная</button></li>
    {% endif %}
</ul>