{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Writers</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="headerLogo">
                <img class="headerLogoImg" src="{% static 'images/icons/64.png' %}" alt="">
                LogoLabel
            </div>
        </header>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <p>footer</p>
        </footer>
    </div>
    <script src="{% static 'scripts/base.js' %}"></script>
    {% block import %}
    {% endblock %}
</body>
</html>