{% for item in items %}
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{item.get_absolute_url}}">{{ item.title }}</a></h2>
                {% if item.authors %}
                    <p>Аўтар:
                    {% for author in item.authors.all|slice:2 %}
                    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a> 
                    {% endfor %}
                    </p>
                {% endif %}
                {% if item.genres %}
                    <p>Жанр: |
                    {% for genre in item.genres.all|slice:2 %}
                    <a href="{{ genre.get_absolute_url }}">{{ genre.title }}</a> | 
                    {% endfor %}
                    ...
                    </p>
                {% endif %}
            </div>
        </header>
        {% if item.photo %}
        <p style="height: auto;"><a href="{{item.get_absolute_url}}"><img class="card-image" src="{{ item.photo.url }}" alt="" /></a>
        {% endif %}
        {{ item.preview }}
        </p>
        <a href="{{item.get_absolute_url}}" class="button large">Падрабязней</a>
        <footer>
            <ul class="actions">
                <li></li>
            </ul>
        </footer>
    </article>
{% endfor %}
{% if items %}
{% include 'inc/pagination/works.html' %}
{% endif %}