{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ title }} - Пiсьменнiкi Беларусi</title>
{% endblock %}

{% block content %}
<h1>This is about page</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente pariatur aliquid hic quam optio odio fugiat minus neque, sunt illo sequi, porro cumque quae quidem quisquam possimus? Fuga, beatae totam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora facere magnam ut exercitationem? Quibusdam, pariatur consequatur. Laudantium officiis est quia cum, vel officia alias dolorum recusandae nesciunt animi non illum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo enim cum nam dicta excepturi, adipisci quisquam delectus laboriosam illo aperiam quis ab. Incidunt consequuntur voluptates laudantium vitae ea cum.
</p>
{% endblock %}