{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ title }} - Пiсьменнiкi Беларусi</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block content %}
<h1>Аб сайце</h1>
<p>
    Тут павінна быць інфармацыя аб сайце: мэта стварэння, дата стварэння і асноўная інфармацыя аб сайце.
    <a href="https://vk.com/vseh0rosho" target="_blank">
        <div class="author">
            <img src="{% static 'images/karen.jpg' %}" class="author" alt="Karina Vysogorets">
            <p class="authorName">Карiна Высагореэц</p>
            <p class="authorBio">Стваральнік сайта</p>
        </div>
    </a>
</p>
{% endblock %}